extends base.pug

block scripts 
    script(src='../static/index.js') 
    script(src="") 
block style 
     style
      include ../static/style.css
      
block content 
    section#introSection
        div Welcome to saurabh's Dance Academy
        div.small Eat Sleep Dance Repeat
    section#missionSection
        h1 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="../static/card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="../static/card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="../static/card-img.jpg")
                div.card-content
                    p This is the best dance academy of the universe
    section#sponsorsSection
        h1 Our Sponsors
        img(src="../static/apple.png" )
        img(src="../static/microsoft.png" )
        img(src="../static/google.png" )
        img(src="../static/facbook.png" )


    section#About 
        center 
            h1 Aboutus
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, corporis omnis quisquam debitis officia sapiente velit veritatis ad illo unde ducimus eaque vitae non, placeat nostrum praesentium blanditiis impedit optio!Commodi, ipsa. Temporibus deserunt omnis, recusandae quasi atque quis culpa debitis nulla corporis perspiciatis quisquam nisi sint cumque a eligendi, cupiditate dolorem saepe at laborum. Quam nisi ratione blanditiis ex.Praesentium libero nulla quisquam necessitatibus aperiam quidem voluptatem placeat consectetur optio amet quasi reprehenderit aliquid est quae perspiciatis, fuga incidunt non aspernatur mollitia. Unde aliquid commodi soluta, possimus facere quam.Fugiat, totam possimus perferendis commodi pariatur amet ipsam, illo quisquam illum dolores maxime quos molestiae et dolore tempora animi natus obcaecati itaque esse libero voluptate harum est ullam nobis? Est?Deserunt error suscipit quo quasi autem officiis, molestiae dolores possimus neque quaerat eligendi vitae aut. Totam a cupiditate, reiciendis temporibus quam ea quidem cum, fuga odio officiis quaerat aperiam quo!Dicta quod fugiat, eum aliquid culpa adipisci iure nobis sit cum sint dolor repellat possimus eius illo saepe quaerat soluta qui ratione provident officiis blanditiis quisquam. Fuga asperiores nisi quo?Adipisci error perferendis est laboriosam cupiditate, quo corporis minus impedit voluptatem minima quae, obcaecati deleniti nisi veniam maiores aut hic labore itaque vero laudantium deserunt dolores. Recusandae voluptate doloremque iusto.Illo delectus totam illum saepe tenetur dolorum amet nihil quidem nemo earum hic optio labore error minus quas laboriosam, magni ullam quis distinctio! Ducimus libero cumque, voluptas nulla laboriosam molestiae!Perferendis ratione vel aut itaque nam. Minima inventore voluptatem asperiores, aperiam magni similique debitis officiis voluptates explicabo vero at maxime dolorum magnam fugiat quae, blanditiis sit fugit incidunt! Possimus, animi.Odio cum explicabo dicta numquam impedit in dolorum sapiente tempora nam veritatis soluta neque esse, id voluptas magni veniam amet nisi iure obcaecati quidem exercitationem repudiandae quibusdam, tenetur deleniti. Sapiente!Amet tempore culpa nesciunt est labore molestias nisi eos sequi, veniam dicta! Alias pariatur impedit, doloremque ullam magni consectetur, odit enim deserunt laboriosam cupiditate doloribus. Labore dolorem commodi aliquid sunt.Esse laudantium cupiditate fuga ut! Maiores recusandae dolorem atque fugit eos quam explicabo distinctio voluptates, modi obcaecati, cupiditate delectus, quidem corrupti totam magni odit suscipit optio ut. Aliquam, accusamus in.Dolores voluptate illum quae velit similique eaque rem incidunt dolorum dolor neque ipsam, repudiandae maxime, odit nam ipsa? Aut, labore non. Repellat, sequi. Illum alias, ea harum dignissimos accusantium fuga?Ex voluptatum iusto quisquam, accusamus eos mollitia explicabo laudantium molestiae vitae nulla aut velit fugiat est unde, minima tempore ad dolor quaerat labore nobis. Similique totam quaerat enim nostrum tempora?Nesciunt accusantium quibusdam porro error omnis ipsum ducimus consectetur sed repellat deserunt delectus dignissimos obcaecati ut praesentium necessitatibus vitae quidem explicabo ea, ipsa excepturi nam doloremque? Quaerat atque tenetur adipisci!
    section#Services 
        center 
         h1 Services
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam provident eaque magnam dicta quam autem unde rerum beatae, placeat atque, non eligendi odio! Nisi quaerat velit dolore ex voluptates!Soluta veritatis repudiandae et, distinctio labore in consequuntur deleniti fugit, explicabo amet quos harum magni ut? Dolores quidem ipsa recusandae debitis commodi nulla optio? Laudantium doloribus eaque sed laboriosam dolores?Temporibus dolorum distinctio corporis quisquam quae voluptatibus nihil ad aperiam possimus magni iusto, voluptatum aspernatur, accusantium, id eligendi accusamus! Voluptates nisi nulla quis, alias magnam ex corrupti voluptatem assumenda quas.In exercitationem, tempore ea laboriosam quisquam quis voluptatum maxime repellat temporibus consequatur vero, doloribus reiciendis. Sequi voluptatum quod quidem ratione aliquid voluptatem laborum, accusantium laudantium, repellat sit dicta nostrum suscipit.Autem aut voluptatibus at tenetur quod impedit vitae illo molestiae. Assumenda vel vitae architecto neque aliquam, id nulla nesciunt, ab hic quae maxime consectetur earum esse quia! Hic, nobis reiciendis?Sunt nulla nam nihil excepturi praesentium deleniti expedita asperiores architecto harum, alias nostrum rem maiores, quo at blanditiis libero nesciunt modi consequuntur atque? Voluptatem, nesciunt nam cupiditate porro adipisci fugit.Laudantium consectetur error ipsam nostrum libero dolorum odio ab eos? Veritatis corporis molestias neque repellendus corrupti, porro rem architecto, nulla eum, blanditiis quibusdam fugiat sunt ea! Exercitationem possimus eligendi obcaecati.Deserunt maiores pariatur tempora ea iusto. Amet reiciendis iusto provident blanditiis quia nulla ratione at cumque, consectetur quibusdam. Ab tenetur dolorum obcaecati quidem non culpa officiis rerum, deleniti nam harum.Doloremque dolorem odit consectetur, quisquam cum aspernatur inventore, soluta sapiente facere doloribus repudiandae recusandae veritatis in. Placeat, ab nihil! Magnam commodi deserunt laboriosam debitis quam cupiditate consequatur hic, possimus iste!Esse aliquam sit quasi sint vel ea quas, magni molestiae nulla, eaque aliquid nemo sunt officia dolorum perferendis rerum corrupti tenetur veniam quis temporibus dicta fuga, illo sapiente? Libero, iusto.
    section#ClassInfo 
        center 
            h1  ClassInfo
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi aliquam provident eaque magnam dicta quam autem unde rerum beatae, placeat atque, non eligendi odio! Nisi quaerat velit dolore ex voluptates!Soluta veritatis repudiandae et, distinctio labore in consequuntur deleniti fugit, explicabo amet quos harum magni ut? Dolores quidem ipsa recusandae debitis commodi nulla optio? Laudantium doloribus eaque sed laboriosam dolores?Temporibus dolorum distinctio corporis quisquam quae voluptatibus nihil ad aperiam possimus magni iusto, voluptatum aspernatur, accusantium, id eligendi accusamus! Voluptates nisi nulla quis, alias magnam ex corrupti voluptatem assumenda quas.In exercitationem, tempore ea laboriosam quisquam quis voluptatum maxime repellat temporibus consequatur vero, doloribus reiciendis. Sequi voluptatum quod quidem ratione aliquid voluptatem laborum, accusantium laudantium, repellat sit dicta nostrum suscipit.Autem aut voluptatibus at tenetur quod impedit vitae illo molestiae. Assumenda vel vitae architecto neque aliquam, id nulla nesciunt, ab hic quae maxime consectetur earum esse quia! Hic, nobis reiciendis?Sunt nulla nam nihil excepturi praesentium deleniti expedita asperiores architecto harum, alias nostrum rem maiores, quo at blanditiis libero nesciunt modi consequuntur atque? Voluptatem, nesciunt nam cupiditate porro adipisci fugit.Laudantium consectetur error ipsam nostrum libero dolorum odio ab eos? Veritatis corporis molestias neque repellendus corrupti, porro rem architecto, nulla eum, blanditiis quibusdam fugiat sunt ea! Exercitationem possimus eligendi obcaecati.Deserunt maiores pariatur tempora ea iusto. Amet reiciendis iusto provident blanditiis quia nulla ratione at cumque, consectetur quibusdam. Ab tenetur dolorum obcaecati quidem non culpa officiis rerum, deleniti nam harum.Doloremque dolorem odit consectetur, quisquam cum aspernatur inventore, soluta sapiente facere doloribus repudiandae recusandae veritatis in. Placeat, ab nihil! Magnam commodi deserunt laboriosam debitis quam cupiditate consequatur hic, possimus iste!Esse aliquam sit quasi sint vel ea quas, magni molestiae nulla, eaque aliquid nemo sunt officia dolorum perferendis rerum corrupti tenetur veniam quis temporibus dicta fuga, illo sapiente? Libero, iusto.
    










